<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="ServiceAddress" value="http://localhost:55777/Service1.svc"/>
  </appSettings>
  <connectionStrings>
    <add name="WcfService1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestDB;Persist Security Info=True;Integrated Security=SSPI;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpDefaultBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false"/>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpDefaultBinding" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="100000000" maxBufferSize="100000000" maxReceivedMessageSize="100000000">
          <readerQuotas maxArrayLength="100000000"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="Service1-Address" address="http://localhost:55777/Service1.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpDefaultBinding" contract="WcfService1.Contracts.IService1"/>
    </client>
  </system.serviceModel>
</configuration>