<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="[connectionstring]" connectionString="Data Source=DBSERVERNAME;Initial Catalog=DBNAME;Persist Security Info=True;Integrated Security=SSPI;"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpDefaultBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="SERVICEADDRESS" binding="wsHttpBinding" bindingConfiguration="wsHttpDefaultBinding" contract="[contract]"/>
    </client>
  </system.serviceModel>
</configuration>