<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
  </appSettings>
  <connectionStrings>
    <add name="[connectionstring]" connectionString="Data Source=DBSERVERNAME;Initial Catalog=DBNAME;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Windows" />
    <!-- needed for services that allow uploading of files -->
    <!--<httpRuntime maxRequestLength="409600"/>-->
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="80" />
              <add scheme="https" port="443" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpDefaultBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false"/>
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpDefaultBinding" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="100000000" maxBufferSize="100000000" maxReceivedMessageSize="100000000">
          <readerQuotas maxArrayLength="100000000"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="[servicename]">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpDefaultBinding" contract="[contract]"/>
      </service>
    </services>
    <client>
    </client>
  </system.serviceModel>
</configuration>